.success-mainContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07);
  padding: 15px;
  border-radius: 5px;
  width: 502px;
  height: 152px;
  padding: 16px 16px;
  gap: 8px;
}

.success-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.success-content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.success-content-1 h3 {
  font-size: 16px;
  margin-right: 10px;
}

.success-content-1 span {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;
}

.success-content-2 {
  display: flex;
  gap: 5rem;
}

.image-content img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.success-text .text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.59px;
}

.success-text .price {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 15px;
}
