
.carousel {
  padding: 84px;
  width: 1147px;
  height: 616px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.right-carousel {
  display: flex;
  flex-direction: column;
  height: 616px;
  width: 452px;
  background-image: url("/src/assets/img1.png");
  background-position: center;
}

.right-carousel h2 {
  padding: 0 24px;
  margin: 0;
}

.right-carousel p {
  color: #2dc071;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 24px;
  padding-top: 24px;
}

.right-carousel a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 24px;
}

.left-carousel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 616px;
  width: 680px;
}

.left-carousel h3 {
  padding: 0 24px;
  margin: 0;
}

.left-carousel p {
  color: #2dc071;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 24px;
  padding-top: 24px;
}

.left-carousel a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 24px;
}

.top-carousel {
  height: 300px;
  width: 679px;
  display: flex;
  flex-direction: column;
  background-image: url("/src/assets/img2.png");
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-carousel {
  display: flex;
  gap: 15px;
  height: 300px;
  width: 679px;
}

.bottom-carousel-one {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 332px;
  background-image: url("/src/assets/img3.png");
}

.bottom-carousel-two {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 332px;
  background-image: url("/src/assets/img4.png");
}

/* Media queries for different screen sizes */

/* Tablet screens (between 700px and 1024px) */
@media screen and (max-width: 1024px) {
  .carousel {
    padding: 60px;
    width: auto;
    height: auto;
    flex-direction: column;
  }

  .right-carousel, .left-carousel {
    width: 100%;
    height: auto;
  }

  .bottom-carousel {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .bottom-carousel-one, .bottom-carousel-two {
    width: 100%;
    height: 300px;
  }
}

/* Mobile screens (up to 700px) */
@media screen and (max-width: 700px) {
  .carousel {
    height: auto;
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .right-carousel {
    flex-direction: column;
    height: 300px;
    width: 100%;
    padding: 0;
  }

  .left-carousel {
    height: auto;
    width: 100%;
  }

  .top-carousel {
    height: 300px;
    width: 100%;
  }

  .bottom-carousel {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .bottom-carousel-one, .bottom-carousel-two {
    height: 300px;
    width: 100%;
  }
}

